/* Animation Coeur */
.resto__card__heart {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 28px;
    height: 28px;
    text-align: center;
    align-items: center;
}

.resto__card__heart__empty {
    z-index: 1;
    font-size: 25px;
    color: $black;
}

.resto__card__heart__full {
    transform: scale(0,0);
    z-index: 2;
    font-size: 28px;
    color: transparent;
    background: linear-gradient(to bottom left, $color-primary, $color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
}

.resto__card__heart:hover .resto__card__heart__full {
    transform: scale(1,1);
    color: $color-secondary;
    transition: all 2s ease-in;
    animation: animcoeur 0.5s ease-in-out forwards;
    cursor: pointer;
}