.loading {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-grey;
    width: 99vw;
    height: 99vh;
    animation: visible 3s ease-in-out forwards;
}

.loading__word {
    text-align: center;
    align-items: baseline;
    font-size: 35px;
    margin: 0 15px;
    animation: loading infinite 0.3s alternate;
    font-family: 'Shrikhand', cursive;
}

@each $key, $value in $loading {
    .loading__word--#{$key} {
        animation-delay: $value;
    }
}

@each $key, $value in $loading-color {
    .loading__word--#{$key} {
        color: $value;
    }
}