::before, ::after, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: initial;
    text-decoration: none;
    &:visited {
        color: initial;
        text-decoration: none;
    }
    &:hover {
        color: initial;
        text-decoration: none;
    }
    &:active {
        color: initial;
        text-decoration: none;
    }
}

h2 {
    @include desktop {
        font-size: 28px;
    }
}

body {
    background-color: $light-grey;
}
