/* Section globale des pages restaurants */
.page {
    position: relative;
    max-width: 768px;
}

/* Image d'arrière plan */
.page__bg {
    position: ralative;
    z-index: 1;
    & img {
        width: 100%;
    }
}

.page__content {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: $grey;
    margin-top: -20%;
    padding: 3%;
    border-radius: 40px 40px 0 0;
}

.page__content__header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 25px;
    font-size: 20px;
    
    &__h2 {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        /* font-size: 25px; */
    }

    &__heart {
        position: relative;
        right: 0px;
        top: 0px;
        width: 25px;
        height: 25px;
        font-weight: 200;
        cursor: pointer;

        &__empty {
            z-index: 1;
            font-size: 25px;
            font-weight: 100;
            color: $black;
        }

        &__full {
            transform: scale(0,0);
            z-index: 2;
            font-size: 25px;
            background: linear-gradient(to bottom left, $color-primary, $color-secondary);
            background-clip: text;
            color: transparent;
            -webkit-background-clip: text;
        }

        &:hover &__full {
            transform: scale(1.5,1.5);
            transition: all 2s ease-in;
            animation: animcoeur2 0.5s ease-in-out forwards;
            cursor: pointer;
        }
    }
}

.page__content__bloc {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 15px;
    margin-top: 40px;
    &__h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 20px;

        &::before {
            width: 40px;
            border-bottom: 3px solid $color-tertiary;
        }
    }
    &__food {
        display: flex;
        justify-content: space-between;
        height: 70px;
        background-color: $white;
        border-radius: 15px;
        overflow: hidden;
        max-width:100%;
        @include shadow($middle-grey);
        cursor: pointer;
        &__txt {
            padding: 15px;  
            width: 100%;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            transition: width 1s ease-in-out;

            & h3 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            & p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &__dsc {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &__price {
                font-weight: bold;
            }
        }
    }
}

.page__content__bloc__food {
    animation: translateCard 1s forwards;
    /* &__dsc__price {
    position: absolute;
    right: 20px;
    bottom: 15px;
    max-width: 30%;
    font-weight: bold;
    cursor: pointer;
    } */
    &__check {
        display:flex; 
        justify-content: center;
        align-items: center;
        color: transparent;
        background-color: $color-tertiary;
        height: 100%;
        width: 0;
        font-size: 25px;
    }

    &:hover &__dsc {
        max-width: 90%;
    }

    &:hover &__check {
        width: 75px;
        color: $white;
        animation: checkbox 0.2s ease-in-out forwards;
        transition: all 0.2s ease-in-out;
    }

    &:hover i {
        transform: rotate(90deg);
        animation: checkRotate 0.2s 0.2s forwards;
    }
}

