@keyframes animcoeur {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    30% {
        transform: translateY(-9px);
        opacity: 0;
    }
    75% {
        opacity: 15%;
    }
    100% {
        transform: translateY(-26.5px);
        opacity: 100%;
    }
}

@keyframes animcoeur2 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    30% {
        transform: translateY(-9px);
        opacity: 0;
    }
    75% {
        opacity: 15%;
    }
    100% {
        transform: translateY(-27px);
        opacity: 100%;
    }
}

@keyframes checkRotate {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes checkbox {
    0% {
        transform: translateX(0);
      }
    100% {
        transform: translateX(0);
    }
}

@keyframes visibilities{
    from{
        transform: translateY(30%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}