/* Anim coeur page d'accueil */
@keyframes animcoeur {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    30% {
        transform: translateY(-9px);
        opacity: 0;
    }
    75% {
        opacity: 15%;
    }
    100% {
        transform: translateY(-27px);
        opacity: 100%;
    }
}

/* Anim coeur page restaurant */
@keyframes animcoeur2 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    30% {
        transform: translateY(-9px);
        opacity: 0;
    }
    75% {
        opacity: 15%;
    }
    100% {
        transform: translateY(-28px);
        opacity: 100%;
    }
}

/* Anim coeur mediaqueries desktop page resto */
@keyframes animcoeur3 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    30% {
        transform: translateY(-15px);
        opacity: 0;
    }
    75% {
        opacity: 15%;
    }
    100% {
        transform: translateY(-51px);
        opacity: 100%;
    }
}

/* Anim check page resto */
@keyframes checkRotate {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes checkbox {
    0% {
        transform: translateX(0);
      }
    100% {
        transform: translateX(0);
    }
}

@keyframes visibilities{
    from{
        transform: translateY(30%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

/* Loading Screen */
/* Anim mots */
@keyframes loading {
    100% {
        transform: translateY(-30px);
    }
}

/* Anim disparition */
@keyframes visible {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.75;
        background-color: #f2f2f2bd;
    }

    50% {
        opacity: 0.5;
        background-color: #f2f2f287;
    }

    75% {
        opacity: 0.25;
        background-color: #f2f2f24d;
    }

    99% {
        opacity: 0;
        background-color: #f2f2f200;
    }

    100% {
        z-index: -1;
    }
}